<h1>⭐️レシピ一覧🌟</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-light">
    <tr>
      <th class="centered-header">タイトルと画像</th>
      <th class="centered-header">材料</th>
      <th class="centered-header">カロリー</th>
      <th class="centered-header">調理時間</th>
      <th class="centered-header">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <%= recipe.title %>
          <% if recipe.images.attached? %>
            <br>
            <%= image_tag(recipe.images.first, class: "img-fluid") %>
          <% end %>
        </td>
        <td><%= recipe.description %></td>
        <td><%= recipe.calories %></td>
        <td><%= recipe.cook_time %>分</td>
        <td>
          <%= link_to '詳細', recipe_path(recipe), class: 'btn btn-primary btn-sm' %>
          <%= link_to '編集', edit_recipe_path(recipe), class: 'btn btn-secondary btn-sm' %>
          <%= link_to '削除', recipe_path(recipe), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新しいレシピを追加', new_recipe_path, class: 'btn btn-success' %>
