<h1>新しいレシピを作成</h1>

<%= form_with model: @recipe, local: true do |form| %>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description, "説明" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :calories, "カロリー" %>
    <%= form.number_field :calories %>
  </div>
  <div>
    <%= form.label :prep_time, "準備時間" %>
    <%= form.number_field :prep_time %>
  </div>
  <div>
    <%= form.label :cook_time, "調理時間" %>
    <%= form.number_field :cook_time %>
  </div>

  <%= form.submit "作成" %>
<% end %>
