<h1><%= @recipe.title %></h1>
<p><%= @recipe.description %></p>
<p>カロリー: <%= @recipe.calories %></p>
<p>準備時間: <%= @recipe.prep_time %>分</p>
<p>調理時間: <%= @recipe.cook_time %>分</p>

<%= link_to '編集', edit_recipe_path(@recipe) %> |
<%= link_to '削除', @recipe, method: :delete, data: { confirm: '本当に削除しますか？' } %>
